.border {
  margin: 10vh auto;
  max-width: 50%;
  padding: 7vh;
  border-radius: 30px;
  background-color: rgba(255, 254, 254, 0.5);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title { 
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin-bottom: 5vh;
}

.create_form {
  display: flex;
  flex-direction: column;
}

.create_form input {
  border: none;
  width: 345px;
  background-color: white;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-size: 15px;
  margin-top: 10px;
  height: 40px;
}

input::-webkit-input-placeholder {
  opacity: 0.5; /*Change the opacity between 0 and 1*/
}

.input__btn {
  height: 40px;
  width: 150px;
  margin: 10px auto;
  border-radius: 10px;
  font-size: 20px;
  text-transform: none;
  font-family: 'Righteous';
  background: linear-gradient(97.84deg, #5672FE -7.65%, #8562E9 106.37%);
  color: #fff;
  cursor: pointer;
  border: none;
}



.filter__btns{
  display: flex;
  justify-content: space-between;
}

.filter__btn { 
  height: 30px;
  width: 100px;
  margin: 10px auto;
  border-radius: 10px;
  font-size: 12px;
  text-transform: none;
  font-family: 'Righteous';
  background-color: #fff;
  cursor: pointer;
  border: none;
  color: #8562E9;
}


.filter__btn__active { 
  height: 30px;
  width: 100px;
  margin: 10px auto;
  border-radius: 10px;
  font-size: 12px;
  text-transform: none;
  font-family: 'Righteous';
  background: linear-gradient(97.84deg, #5672FE -7.65%, #8562E9 106.37%);
  color: #fff;
  cursor: pointer;
  border: none;
}

.img { 
  width: 200px;
}


.task { 
  display: flex;
  align-items: center;
  width: 345px;
  justify-content: space-around;
  border-radius: 30px;
  background-color: rgba(255, 254, 254, 0.5);
  color: #8562E9;
  min-height: 8vh;
  margin-top: 10px;
}

.task.done {
  background: linear-gradient(97.84deg, #5672FE -7.65%, #8562E9 106.37%);
  color: #fff;
}

.checkbox {
  width: 80%;
  text-align: left;
}

.task__title {
  font-size: 18px;
  font-family: 'Montserrat';
}

.task__subtitle {
  font-size: 12px;
  opacity: 0.6;
  font-family: 'Montserrat';
  padding-top: 5px;
}


.icon {
  cursor: pointer;
}


.norecord {
  color: #fff;
}